{% load topic_tags %}

<form method="POST" id="editor__form" class="editor-form mt-2">

    {% csrf_token %}

    <input id="{{ form.lang.html_name }}" type="hidden" name="lang" value="{{ form.lang.value }}">

    {% if object.show_input %}
       {% show_ace_field form.input %}
    {% endif %}

    {% show_ace_field form.content %}

    <div class="ace-control-bar">
        <div class="control-bar-col bar-col-1"></div>
        <div class="control-bar-col bar-col-2">
            <div class="control-btn full-content run" title="Отладка"></div>
        </div>
        <div class="control-bar-col bar-col-3 msg-box">
            <span class="msg msg__loader-text"></span>
            <span class="msg msg__loader">
                <span class="msg__loader-container"><span>{</span><span>}</span></span>
            </span>
            <span class="msg msg__success"></span>
            <span class="msg msg__warning"></span>
            <span class="msg msg__error"></span>
        </div>
    </div>

    {% show_ace_field form.output %}

    {% show_ace_field form.error %}

</form>