#content-group h3 .inline_label {
    display: none;
}
#content-group .field-ace_input label,
#content-group .field-ace_content label {
    margin-left: 12px;
}
#content-group .field-text label {
    display: none;
}
#content-group .field-type label {
    width: 50px;
}
#content-group .field-ace_input .ace-container .ace-editor-content,
#content-group .field-ace_content .ace-container .ace-editor-content {
    display: none;
}
#content-group .field-text,
#content-group .field-ace_show_input,
#content-group .field-ace_input,
#content-group .field-ace_content {
    display: none;
}

/* ace */
.ace-container {
    padding: 15px 10px;
    background-color:#f5f2f0;
    font-size: 12px;
    border: 1px solid #CCC;
}

.ace-container.ace-content {
    min-height: 70px;
}

.ace-container.ace-error,
.ace-container.ace-output {
    display: none;
}

.ace-container.ace-tests table {
    width: 95%;
}

.ace-container.ace-tests .tests-title,
.ace-container.ace-tests table th {
    font-size: 12px;
    padding-left: 10px;
}

.ace-container.ace-tests table tbody td{
    padding:0;
    text-align: center;
    vertical-align: middle;
}

.ace-container.ace-tests {
    position: relative;
    padding: 15px 0;
}

.tests-title {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.ace-editor {
    position: relative;
    width: 100%;
    height: auto;
    font-size:14px;
    line-height: 1.5;
    background-color:#f5f2f0;
}

.editor-form.static .ace-editor {
    background-color: #eaeaea;
}

.editor-form.maximized .ace-editor {
    border: solid 1px #eeeeee;
}

.ace-editor-content {
    display:none;
}
