{% extends 'groups/base.html' %}

{% block content %}
    <div class="one-col group fp-content">
        <div class="group__col white">
            <h1 class="text-center">{{ object.title }}</h1>
            {% if object.content %}
                <div class="text">{{ object.content|safe }}</div>
            {% endif %}
            <table class="group__info">
                <tr><td>Год:</td><td>{{ object.creation_date.year }}</td></tr>
                <tr><td>Владелец:</td><td>{{ object.author }}</td></tr>
                <tr><td>Статус:</td><td>{{ object.get_status }}</td></tr>
            </table>
            <h3>Учебная программа</h3>
            <table class="group__info">
                {% for group_course in object.group_courses.all %}
                    <tr>
                        <td>Курс:</td>
                        <td><a href="{{ group_course.course.get_absolute_url }}">{{ group_course.course }}</a></td>
                        {% if request.user == object.author or request.user in object.members.all %}
                           <td><a href="{% url 'groups:group-course' object.id group_course.id %}">Таблица результатов</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

        </div>
        <div class="group__col white">
            <h3 class="text-center">Список участников</h3>
            <table class="group__table js__tablesorter">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in object.members.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ member.last_name }}</td>
                            <td>{{ member.first_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>window.dispatchEvent(new Event('initTablesorter'))</script>
{% endblock %}