{% extends 'groups/base.html' %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="one-col group-course white">
        <h1>{{ object.group.title }}</h1>
        <h4>Результаты по курсу {{ object.course }}</h4>

        <div class="course__table-container">
            <table class="course__table js__tablesorter">
                <thead>
                    <tr>
                        <th class="wide">Участник</th>
                        <th class="wide">Решено</th>
                        {% for topic in course_data.topics %}
                            {% for taskitem in topic.taskitems %}
                                <th data-sorter="false">
                                    {% if forloop.first %}
                                        <div class="caption"><span>{{ topic.number }} {{ topic.title }}</span></div>
                                    {% endif %}
                                    <a class="js__col-{{ forloop.counter }}" href="{{ taskitem.url }}"
                                       target="_blank" title="{{ taskitem.number }} {{ taskitem.title }}">
                                        {{ taskitem.number }}
                                    </a>
                                </th>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for member in object.group.members.all %}
                        <tr id="js__member-{{ member.id }}">
                            <td title="{{ member }}" class="wide">{{ member.last_name }}</td>
                            <td class="js__score wide"></td>
                            {% for topic in course_data.topics %}
                                {% for taskitem in topic.taskitems %}
                                    <td class="js__{{ taskitem.id }}" data-col="{{ forloop.counter }}"></td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
       </div>
    </div>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script>
        window.groupCourseSolutionsUrl = "{% url 'groups:group-course-solutions' group_id=object.group.id group_course_id=object.id %}"
        window.dispatchEvent(new Event('groupCoursePageLoaded'))
    </script>
{% endblock js %}