{% extends "base.html" %}
{% load training_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% show_breadcrumbs %}
{% endblock %}

{% block sidebar_title %}{{ course.title }}{% endblock %}

{% block sidebar_body %}
    {% show_sidebar course %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        {% if request.user.is_active and course %}
            window.userSolutionUrl = '{% url 'course-solutions' course=course.slug %}?user_id={{ request.user.id }}'
            window.dispatchEvent(new Event('getUserSolutions'))
        {% endif %}
        window.dispatchEvent(new Event('toggleSidebar'))
    </script>
{% endblock %}