<div id="js__{{ data.id }}" class="list">
    {% for topic in data.topics %}
    <div class="list__item">
        <div id="js__{{ topic.id }}-heading" class="list__item-heading">
            {% if topic.taskitems %}
                <div class="list__item-toggler collapsed"
                     id="{{ topic.id }}"
                     data-toggle="collapse"
                     data-target="#js__{{ topic.id }}-collapse"
                     aria-expanded="false"
                     aria-controls="js__{{ topic.id }}-collapse">
                </div>
            {% endif %}
            <a class="list__item-title" href="{{ topic.url }}">{{ topic.numbered_title }}</a>
        </div>
        {% if topic.taskitems %}
        <ul id="js__{{ topic.id }}-collapse"
            class="collapse"
            aria-labelledby="js__{{ topic.id }}-heading"
            data-parent="#js__{{ data.id }}">
            {% for taskitem in topic.taskitems %}
            <li id="{{ taskitem.id }}" >
                <a href="{{ taskitem.url }}">{{ taskitem.numbered_title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>