<div id="js__{{ data.id }}" class="list">
    {% for topic in data.topics %}
    <div class="list__item">
        <div id="js__{{ topic.id }}-heading" class="list__item-heading">
            {% if topic.taskitems %}
                <div class="list__item-toggler collapsed"
                     id="{{ topic.id }}"
                     data-toggle="collapse"
                     data-target="#js__{{ topic.id }}-collapse"
                     aria-expanded="false"
                     aria-controls="js__{{ topic.id }}-collapse">
                </div>
            {% endif %}
            <a class="list__item-title" href="{{ topic.url }}">{{ topic.numbered_title }}</a>
        </div>
        {% if topic.taskitems %}
        <ul id="js__{{ topic.id }}-collapse"
            class="collapse"
            aria-labelledby="js__{{ topic.id }}-heading"
            data-parent="#js__{{ data.id }}">
            {% for taskitem in topic.taskitems %}
            <li>
                <a id="{{ taskitem.id }}" href="{{ taskitem.url }}">{{ taskitem.numbered_title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>



<!--<div class="top-nav-right">-->
    <!--{% if user.is_authenticated  %}-->
        <!--{% if user.is_staff %}-->
            <!--<a class="mr-5" href="/admin/">Управление сайтом</a>-->
        <!--{% endif %}-->
        <!--<a class="mr-5" href="">{{ user.get_full_name|default:user.username }}</a>-->
        <!--<a class="profile" href="/logout/">Выйти</a>-->
    <!--{% else %}-->
        <!--<a class="profile" href="{% url 'account_login' %}">Войти</a>-->
        <!--<a class="profile" href="{% url 'account_signup' %}">Зарегистрироваться</a>-->
    <!--{% endif %}-->
<!--</div>-->